.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  align-items: center;
}

.header__square-pic {
  position: absolute;
  z-index: 0;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background: #2f80ed;
}

.logo {
  position: absolute;
}

.logo_place_header {
  top: 30px;
  left: 64px;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__title {
  position: absolute;
  z-index: 2;
  left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 64px;
  width: 388px;
}

.header__subtitle p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph p {
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph p:last-child {
  margin-bottom: 0;
}

.two-columns__span_accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: auto;
  padding: 100px 0;
  align-items: center;
}

.section__title {
  width: 60%;
  margin: 0;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  align-items: center;
}

.section__subtitle {
  width: 60%;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text p {
  margin-bottom: 0;
}

.feynman {
  position: relative;
  height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  z-index: 1;
  width: 648px;
  margin: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.kaufman {
  position: relative;
  z-index: -1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 790px;
  padding-top: 90px;
  background-color: #1f1f1f;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position: right -210px top;
  background-size: 877px 877px;
  align-items: center;
}

.section-title_theme_dark {
  width: 60%;
  margin: 0;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  align-items: center;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 20px 0 0 0;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table_theme_dark {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
  color: white;
}

.table__heading_theme_dark {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.footer {
  position: relative;
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 18px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_heading {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column_links {
  margin: 0;
  padding-bottom: 16px;
}

.footer__column_link {
  display: flex;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  align-items: center;
}

.footer__column_link p {
  margin: 0;
  color: #ffffff;
}

.footer__column_content_info {
  color: #ffffff;
}

.footer__column_content_social {
  color: #ffffff;
}

.social_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
