.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
}

.header__square-pic {
  width: 568px;
  height: 568px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
  color: white;
}

.logo {
  position: absolute;
  top: 30px;
  left: 64px;
}

.main-illustration {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 765px;

  height: 608px;
}

.square-pic {
  position: absolute;
  z-index: 0;
  right: 0;
  width: 568px;
  height: 568px;
  background: #2f80ed;
}

.header_title {
  position: absolute;
  z-index: 2;
  left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header_subtitle {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 64px;
  width: 388px;
}

.header_subtitle p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header_link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns_main-text {
  width: 80%;
  min-width: 784px;
}

.two_columns_paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two_columns_paragraph p {
  margin: 0;
  margin-bottom: 30px;
}

.two_columns_paragraph p:last-child {
  margin-bottom: 0;
}

.two_columns_span_accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: auto;
  padding-top: 100px;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  align-items: center;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_cell {
  width: 250px;
  margin-top: 60px;
}

.table_heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table-text p {
  margin-bottom: 0;
}

.feynman {
  position: relative;
  height: 790px;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.title {
  z-index: 1;
  width: 648px;
  margin: 0;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin: 0 auto;
}

.subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
  margin: 70px 0 0 0;
}

.link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}
