.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
}

.header__square-pic {
  height: 568px;
  width: 568px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 64px;
}

.main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.square-pic {
  position: absolute;
  right: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  z-index: 0;
}

.header_title {
  position: absolute;
  left: 64px;
  z-index: 2;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header_subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  width: 388px;
}

.header_subtitle p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header_link {
  text-decoration: none;
}
